<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neusoft.nep.mapper.GridMemberMapper">

    <resultMap id="BaseResultMap" type="com.neusoft.nep.model.entity.GridMember">
        <id column="id" property="id"/>
        <result column="code" property="code"/>
        <result column="password" property="password"/>
        <result column="real_name" property="realName"/>
        <result column="phone" property="phone"/>
        <result column="province_id" property="provinceId"/>
        <result column="city_id" property="cityId"/>
        <result column="work_status" property="workStatus"/>
    </resultMap>

    <select id="selectByCodeAndPassword" resultMap="BaseResultMap">
        SELECT id, code, password, real_name, phone, province_id, city_id, work_status
        FROM grid_member
        WHERE code = #{code} AND password = #{password}
    </select>

    <select id="selectByProvinceIdAndCityId" resultMap="BaseResultMap">
        SELECT id, code, password, real_name, phone, province_id, city_id, work_status
        FROM grid_member
        WHERE province_id = #{provinceId} AND city_id = #{cityId} AND work_status = 1
        ORDER BY id
    </select>

    <select id="selectById" resultMap="BaseResultMap">
        SELECT id, code, password, real_name, phone, province_id, city_id, work_status
        FROM grid_member WHERE id = #{id}
    </select>

</mapper>
